.product-cart {
    border: 2px solid darkolivegreen;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.product-cart img {
    height: 70px;
    flex: 1;
}

.product-cart .description {
    flex: 4;
}

.product-cart label {
    flex: 2;
}

.product-cart .btn {
    flex: 1;
}